# Віртуальні середовища (це найголовніше!)
venv/
env/
.venv/

# Кеш Пітона (сміття, яке не треба тягнути)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Git історія
.git/
.gitignore

# Налаштування редакторів (типу VS Code)
.vscode/
.idea/

# Докер файли (їм не треба бути всередині самого себе)
Dockerfile
docker-compose.yml

# Секретні змінні (краще передавати їх через Azure)
.env