@{
    ViewData["Title"] = "Перевірка транзакцій";
}

<div class="text-center mt-5">
    <h1>Перевірити транзакцію на фейк</h1>
    <p class="lead">Stay tuned. Функція перевірки транзакцій ще в розробці...</p>
</div>