@{
    ViewData["Title"] = "Перевірка новини";
}

<div class="text-center mt-5">
    <h1>Перевірити новину на фейк</h1>
    <p class="lead">Тут скоро буде форма для введення тексту, посилання або завантаження фото.</p>
</div>